.grid-container {
    display: grid;
    column-gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.grid-item {
    background-color: #fc66ff;
    padding: 20px;
    font-size: 30px;
}

.btn {
    text-align: center;
    padding: 50px 50px;
}

body {
    background-color: rgb(130, 143, 255);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

div {
    text-align: center;
}